.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
  position: relative;
  z-index: 100;
}

.HomeVideo {
  position: absolute;
  width: 100%;
}

.HomeVideo::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-image: radial-gradient(at top center, #0a011880 10%, #0a0118 85%);
}

video.video{
  width: 100%;
  height: 100%;
}

.head-title {
  border: 1px solid #ff7fc2;
  border-radius: 25px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.head-title h3 {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.sub-head-title {
  margin-bottom: 20px;
}

.sub-head-title h2 {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.head-discrip p {
  color: #ffffff7d;
  font-family: Helvetica, Arial, Sans-Serif;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
}

.start-btn {
  width: 165px;
  height: 45px;
}

.start-btn a {
  text-decoration: none;
}

.start-btn a button {
  width: 100%;
  height: 100%;
  border: none;
  font-family: Helvetica, Arial, Sans-Serif;
  background: rgb(180, 124, 253);
  background: linear-gradient(
    27deg,
    rgba(180, 124, 253, 1) 30%,
    rgba(255, 127, 194, 1) 100%
  );
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: -25px 0px 20px -10px #ffb07b inset;
}

.start-btn a button:hover {
  background: rgb(255, 127, 194);
  background: linear-gradient(
    27deg,
    rgba(255, 127, 194, 1) 30%,
    rgba(180, 124, 253, 1) 100%
  );
  box-shadow: 3px 5px 30px 0px rgba(255, 255, 255, 0.3);
}

.learn-btn {
  width: 165px;
  height: 45px;
}

.learn-btn a {
  text-decoration: none;
}

.learn-btn a button {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-family: Helvetica, Arial, Sans-Serif;
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  transition: 0.5s ease;
}

.learn-btn a button:hover {
  background: rgb(180, 124, 253);
  background: linear-gradient(
    27deg,
    rgba(180, 124, 253, 1) 30%,
    rgba(255, 127, 194, 1) 100%
  );
}
